# Ignore Reports
/Reports/

# Ignore test output
/test-output/

# Files from Target
/target/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/surefire-reports/
/target/classes/
/target/test-classes/



.DS_Store


